@font-face {
	font-family: FluxischElse;
	src: url(./fonts/FluxischElse-Regular.otf); 
	font-weight: regular;
}


@font-face {
	font-family: FluxischElse;
	src: url(./fonts/FluxischElse-Bold.otf); 
	font-weight: bold;
}

@font-face {
	font-family: FluxischElse;
	src: url(./fonts/FluxischElse-Light.otf); 
	font-weight: light;
}

@font-face {
	font-family: Yozai;
	src: url(./fonts/Yozai-Regular.ttf); 
	font-weight: regular;
}

@font-face {
	font-family: Yozai;
	src: url(./fonts/Yozai-Light.ttf); 
	font-weight: light;
}

@font-face {
	font-family: Yozai;
	src: url(./fonts/Yozai-Medium.ttf); 
	font-weight: medium;
}


h1 {
	font-family: FluxischElse;
	font-size: 20px;
}

body {
	font-family: FluxischElse;
	padding: 10%;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info-eng, .info-chi {
	margin: auto;
}

.info-eng {
	text-align: left;
}

.info-chi {
	font-family: Yozai;
	text-align: right;
}

@media only screen and (max-width: 600px) {
  .info {
    display: block;
  }

  .info-chi {
  	padding-top: 6%;
  	text-align: left;
  }
}