@font-face {
	font-family: FluxischElse;
	src: url(./fonts/FluxischElse-Regular.otf); 
	font-weight: regular;
}


@font-face {
	font-family: FluxischElse;
	src: url(./fonts/FluxischElse-Bold.otf); 
	font-weight: bold;
}

@font-face {
	font-family: FluxischElse;
	src: url(./fonts/FluxischElse-Light.otf); 
	font-weight: light;
}

@font-face {
	font-family: Yozai;
	src: url(./fonts/Yozai-Regular.ttf); 
	font-weight: regular;
}

@font-face {
	font-family: Yozai;
	src: url(./fonts/Yozai-Light.ttf); 
	font-weight: light;
}

@font-face {
	font-family: Yozai;
	src: url(./fonts/Yozai-Medium.ttf); 
	font-weight: medium;
}

html {
	height: 100%;
	box-shadow: 0px 0px 30px #797e98 inset;
}

h1 {
	font-family: FluxischElse;
	font-size: 20px;
}

body {
	font-family: FluxischElse;
	padding: 10%;
	margin: 0;
}

.menu-wrapper {  }

.menu-item {
	font-family: FluxischElse;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 5px;
	background-image: url(glass-block.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: table-cell;
	color: white;
	text-align: center;
	vertical-align: middle;
}

.menu-wrapper, .menu-item {
  width: 300px;
  height: 165px;
}

.x {
  animation: x 20s linear infinite alternate;
}

.y {
  animation: y 14s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX( calc(100vw - 300px) );
  }
}

@keyframes y {
  100% {
    transform: translateY( calc(100vh - 165px) );
  }
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 75%;
	position: absolute;
	top: 45%;
	transform: translate(0, -50%);
}

.info-eng, .info-chi {
	margin: auto;
}

.info-eng {
	text-align: left;
}

.info-chi {
	font-family: Yozai;
	text-align: right;
}

@media only screen and (max-width: 600px) {
	html {
		box-shadow: 0px 0px 20px #797e98 inset;
	}

	.menu, .menu-item {
	  width: 190px;
	  height: 110px;
	}

	.menu-text {
		font-size: 14px;
	}

	.x {
	  animation: x 20s linear infinite alternate;
	}

	.y {
	  animation: y 14s linear infinite alternate;
	}

	@keyframes x {
	  100% {
	    transform: translateX( calc(100vw - 190px) );
	  }
	}

	@keyframes y {
	  100% {
	    transform: translateY( calc(100vh - 110px) );
	  }
	}

    .info {
      display: block;
    }

    .info-chi {
  	  padding-top: 6%;
  	  text-align: left;
    }
}